#about{
    background-color: aqua;
    background-image: "pexels-pixabay-267639.jpg";
    width: fit-content;
    height: fit-content
}
aside {
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 20px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }